node_modules
.tmp
.cache
build
.git
.gitignore
*.md
.env
.env.*
!.env.production.template
.database/
.strapi
.strapi-updater.json
.strapi-cloud.json
dist
coverage
.vscode
.idea
*.log
exports
public/uploads/*
!public/uploads/.gitkeep
